<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://assets.satheesh.dev/favicon.ico" type="image/x-icon">
    <style>
            *{
                transition: all 0.6s;
            }

            html {
                height: 100%;
            }

            body{
                font-family: 'Lato', sans-serif;
                color: #888;
                margin: 0;
            }
    </style>
</head>
<body>
    <pre id="output"></pre>
    <script type="text/javascript">
        function generateURL(path) {
            return window.location.href + path;
        }

        const urls = {
            "me": {
                "GET_info": generateURL("me"),
                "GET_skills": generateURL("me/skills"),
                "GET_services": generateURL("me/services"),
                "GET_projects": generateURL("me/projects"),
                "GET_education": generateURL("me/education"),
                "GET_experience": generateURL("me/experience"),
                "GET_reviews": generateURL("me/reviews"),
            },
            "games": {
                "POST_flames": {
                    "url": generateURL("games/flames"),
                    "body": {
                        "name": "name1",
                        "partner_name": "name2"
                    }
                },
            }
        };

        const data = {
            "title": "Satheesh's API",
            "description": "This is an API for Satheesh's portfolio website and other projects.",
            "author": {
                "name": "Satheesh Kumar",
                "email": "mail@satheesh.dev",
                "websites": {
                    "portfolio": "https://www.satheesh.dev",
                    "api": "https://boom.satheesh.dev",
                    "assets": "https://assets.satheesh.dev",
                    "playground": "https://play.satheesh.dev",
                },
            },
            "api": urls
        }
        document.getElementById("output").innerHTML = JSON.stringify(data, undefined, 4);
    </script>
</body>
</html>
