<html>
<head>
    <title>API - *.satheesh.dev</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://assets.satheesh.dev/favicon.ico" type="image/x-icon">
    <style>
            *{
                transition: all 0.6s;
            }

            html {
                height: 100%;
            }

            body{
                font-family: 'Lato', sans-serif;
                color: #888;
                margin: 0;
            }
    </style>
</head>
<body>
    <pre id="output"></pre>
    <script type="text/javascript">
        function generateURL(path) {
            return window.location.href + path;
        }

        var data = {
            "www": {
                "info": generateURL("me/info"),
                "skills": generateURL("me/skills"),
                "services": generateURL("me/services"),
                "projects": generateURL("me/projects"),
                "education": generateURL("me/education"),
                "experience": generateURL("me/experience"),
                "testimonials": generateURL("me/testimonials"),
            },
            "play": {
                "flames": generateURL("games/flames"),
            }
        };
        document.getElementById("output").innerHTML = JSON.stringify(data, undefined, 4);
    </script>
</body>
</html>
